<div id="payee-detail" v-cloak>

  <div class="container">

    <payee-detail
      website-title="<%= __('title.website') %>"
      payee-id="<%= req.param('payee') %>">
    </payee-detail>

  </div>

  <%- partial('../../partials/fund-list.ejs') %>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
