<div id="payee-list" v-cloak>

  <div class="container">

    <h2><%= region.name %>, <%= region.locality %></h2>

    <%- partial('../../partials/payee-list.ejs') %>

  </div>

  <%- partial('../../partials/fund-list.ejs') %>

</div>

<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
