/**
 * Color Variables
 */

@brand: #576490;

@error: #b53a03;

@text-normal: #231123;
@text-muted: lighten(@text-normal, 60%);

@accent-white: #a3bcf9;
@bg-lt-gray: #c9cad9;
@border-lt-gray: darken(@bg-lt-gray, 5%);
@accent-lt-gray: darken(@accent-white, 5%);
@accent-md-gray: #7c809b;
@accent-title: darken(@brand, 10%);
