<nav id="mainNav" class="navbar navbar-expand-sm flex-column flex-md-row justify-content-between">
  <a class="navbar-brand mr-0" href="/"><h1>TipJar</h1></a>
  <div class="navbar-nav flex-row">
  </div>
</nav>
