<div id="suggest-tag-form" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/tag/suggest-tag-form.less</em>, <em>assets/js/pages/tag/suggest-tag-form.page.js</em>, and <em>api/controllers/tag/view-suggest-tag-form.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
