<div id="region-list" v-cloak>

  <div class="region-container container">

    <region-list regions-title="<%= __('title.regions') %>"></region-list>

  </div>

  <%- partial('../../partials/fund-list.ejs', { region: {} } ) %>

</div>

<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
