<div id="suggest-fund-form" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/fund/suggest-fund-form.less</em>, <em>assets/js/pages/fund/suggest-fund-form.page.js</em>, and <em>api/controllers/fund/view-suggest-fund-form.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
